{% extends 'base.html' %}
{% load static %}
{% block title %}Protected{% endblock %}


{% block content %}
<style>
    .bio{
        text-decoration: none;
        color: rgb(4, 4, 235);
    }
</style>
<center>
    <h1>Your Profile</h1>
    <img src="{% static 'profile2.png' %}" width="80" height="80">
    <h2>Hi {{ user.username }}!</h2>
    {% if user.is_superuser %}
        <h2>
            <a href="{% url 'biodata' %}" class="bio">Click here to view biodata</a>
        </h2>
    {% endif %}
</center>
{% endblock %}